{% extends 'teammate_finder_app/home.html'%}
{% load crispy_forms_tags %}
{% load static%}
{% block content%}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <div class="content-section">

        <img class="rounded-circle account-img" src=" {{user.profile.image.url}}">
        
        <!--<h2>{{user.username}}</h2>-->
        <div class="container-profile" style="margin-top: 30px;">
            <form  method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <fieldset class="form-group">
                    {{ u_form|crispy }}
                    {{ p_form|crispy }}
                </fieldset>
                    
                <button class="toggle-btn-sign-up">Update</button> 
            </form>
        </div>
    </div>
    
    
{% endblock content%}
